@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: lightgray;
}

#calculator {
    box-sizing: border-box;
    height: 650px;
    min-width: 450px;
    max-width: 450px;
    border: 10px solid gray;
    border-radius: 5px;
    background-color: black;
    padding: 2px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Rajdhani', sans-serif;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 78px;
    width: 100%;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    font-size: 35px;
    border-radius: 10px;
    border: 3px solid black;
    width: 106.25px;
    height: 105.2px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

.wide {
    width: 212.5px;
}

.number-button,
.floating {
    background-color: darkgray;
}

.operation-button,
.equal-button {
    background-color: orange;
}

.operation-button.percentage,
.operation-button.plus-minus,
#clear-button {
    background-color: lightgray;
}

@media (max-width: 450px), (max-height: 600px) {
    #calculator {
        height: 505.5px;
        min-width: 350px;
        max-width: 350px;
    }

    #display {
        height: 77.5px;
        font-size: 60.5px;
    }

    button {
        font-size: 27.25px;
        width: 81.5px;
        height: 80.8px;
    }

    .wide {
        width: 163px;
    }
}